.hero{
    height: 100vh;
    background-color: #00002D;
    padding: 64px 24px;
}

.hero-text{
    display: flex;
    flex-direction: column;
    gap: 24px;
    color: #FAFAFE;
    font-family: Josefin Sans, sans-serif;
}

.hero-text h1{
    font-family: Montserrat;
    text-transform: uppercase;
}

.hero-text a{
    color: #FAFAFE;
    text-decoration: none;
    border: 2px solid #FAFAFE;
    font-weight: 600;
    padding: 24px 32px;
    transition: 0.5s ease-in-out;
    border-radius: 8px;
    text-align: center;
}

.our-team{
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 40px;
    padding: 64px 24px;
}

.our-team img{
    max-width: 100%;
}

.our-team-text h2{
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    font-size: 24px;
}

.our-team-text{
    font-family: Josefin Sans, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 24px;
    color: #00002D;
}

.our-team-text ul{
    margin: 0 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.our-team-text a{
    color: #FAFAFE;
    background-color: #101084;
    text-decoration: none;
    font-weight: 600;
    padding: 24px 32px;
    transition: 0.5s ease-in-out;
    border-radius: 8px;
    text-align: center;
}

.services-mobile{
    background-image: url(../img/services.png);
    color: #FAFAFE;
    padding: 24px;
    background-size: cover;
    background-repeat: no-repeat;
}

.services-text{
    font-family: Josefin Sans, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
}

.services-text h2{
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    font-size: 24px;
}

.services-text a{
    text-decoration: none;
    padding: 24px 32px;
    text-align: center;
}

.services-text ul{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.services-text .btn-s-white-bg{
    color: #FAFAFE;
    text-decoration: none;
    border: 2px solid #FAFAFE;
    font-weight: 600;
    padding: 24px 32px;
    transition: 0.5s ease-in-out;
    border-radius: 8px;
    text-align: center;
}

.services-text .p-btn-services{
    color: #FAFAFE;
    background-color: #101084;
    text-decoration: none;
    font-weight: 600;
    padding: 24px 32px;
    transition: 0.5s ease-in-out;
    border-radius: 8px;
    text-align: center;
}

@media screen and (min-width: 388px) {
    h1 > br{
        display: none;
    }
    
    .hero-text, .our-team-text, .services-text{
        font-size: calc(.6vw + 100%);
    }

    .our-team-image img{
        width: 100%;
    }

    .our-team-image{
        width: 100%;
    }
}

@media screen and (min-width: 601px) {
    h1 > br{
        display: inline;
    }

    .hero, .our-team, .services-mobile{
        padding:  64px 80px;
    }
}

@media screen and (min-width: 700px) {

    .hero{
        display: flex;
        align-items: center;
    }

    .hero-text .br-mobile{
        display: none;
    }

    .hero, .our-team, .services-mobile{
        padding:  64px;
    }
}

@media screen and (min-width: 730px) {
    .our-team{
        justify-content: center;
    }

    .services-text{
        margin: 0 auto;
    }

    .our-team-text, .services-text{
        font-size: calc(.5vw + 75%);
        max-width: 70%;
    }

    .our-team-image img{
        max-width: 100%;
        width: unset;
    }

    .our-team-image{
        max-width: 70%;
    }
}

@media screen and (min-width: 800px) {
    .our-team-text, .services-text{
        font-size: calc(1vw + 75%);
    }
}

@media screen and (min-width: 976px) {
    .hero{
        padding: 0 80px;
    }

    .hero-text{
        font-size: 1.5rem;
    }

    .hero-text p{
        max-width: fit-content;
    }

    .hero-text a{
        max-width: 561px;
    }

    .our-team{
        padding: 64px 80px;
    }

    .our-team-image img{
        width: 100%;
    }
}