.service{
    display: flex;
    flex-wrap: wrap;
    color: #00002D;
    font-family: Josefin Sans;
    overflow: hidden;
    transition: .5s;
    height: 64px;
}

.title{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 24px 32px;
    color: #00002D;
    transition: .5s;
    cursor: pointer;
}

.title:hover{
    background-color: #4545E8;
    color: #FAFAFE;
}

.description{
    margin: 24px;
    color: #00002D;
    font-family: Josefin Sans;
    color: #00002D;
    transform: scale(0);
}

.dropdown{
    transition: .5s;
    border-bottom: 1px solid #4545E8;
    z-index: -1;
    height: fit-content;
}

.dropdown .title, .dropdown .description{
    font-family: Josefin Sans;
    transition: .5s;
    transform: scale(1);
}

.dropdown .title{
    color: #FAFAFE;
    background-color: #4545E8;
}

main{
    padding: 40px;
}

h1{
    margin-bottom: 40px;
    font-family: Montserrat;
    text-transform: uppercase;
    font-size: 24px;
    color: #00002D;
}

#services{
    color: #00002D;
    display: flex;
    flex-direction: column;
}

.title i{
    display: none;
}