.service{
    display: flex;
    flex-wrap: wrap;
    color: #00002D;
    font-family: Josefin Sans;
    overflow: hidden;
    transition: .5s;
}

.title{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 24px;
    color: #00002D;
    transition: .5s;
    cursor: pointer;
    border-bottom: 1px solid #00002D;
}

.title:hover{
    background-color: #4545E8;
    color: #FAFAFE;
    border-bottom: 1px solid #4545E8;
}

.description{
    color: #00002D;
    font-family: Josefin Sans;
    color: #00002D;
    font-size: 0;
    transition: .5s;
}

.dropdown{
    transition: .5s;
    border-bottom: 1px solid #4545E8;
    height: fit-content;
}

.dropdown .title, .dropdown .description{
    font-family: Josefin Sans;
    transition: .5s;
}

.dropdown .title{
    color: #FAFAFE;
    background-color: #4545E8;
    border-bottom: unset;
}


.dropdown .description{
    font-size: 16px;
    margin: 24px;
}

main{
    padding: 24px;
}

h1{
    margin-bottom: 40px;
    font-family: Montserrat;
    text-transform: uppercase;
    font-size: 32px;
    color: #00002D;
}

#services{
    color: #00002D;
    display: flex;
    flex-direction: column;
}

.title i{
    display: none;
}

@media screen and (min-width: 700px) {
    main{
        padding: 48px;
    }
}

@media screen and (min-width: 976px) {
    main{
        padding: 80px;
    }
}
